<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/borrow.css">
</head>

<body>
    <section>
        <div class="background">
            <h1>Borrow <%=borrowedItem.title%></h1>
        </div>
    </section>
    <div class="card">
        <div class="image">
            <img src="<%=borrowedItem.image%>" alt="">
        </div>

        <form action="/booklist/add" method="post">
        <div class="content">
            <div class="sep">
                <div class="num">
            <label for="">
                First Name
                <input type="text" name="f_name">
            </label>
            <label for="">Title
            <input type="text" name="title"  value="<%=borrowedItem.title%>" readonly>
            </label>
        </div>
        <div class="sep2">
            <label for="">Last Name
            <input type="text" name="l_name">
            </label>
            <label for=""> Availability
            <input type="text"  name ="availability"  value="<%=borrowedItem.availability%>">
            </label>
            </div>
            </div>
            <label for=""> Book Description
                <input type="text" name ="book_description"  value="<%=borrowedItem.book_description%>">
            </label>
            <label for=""> Email
                <input type="text" name ="email">
            </label>
            <label for="">Author
                <input type="text" name ="author" value="<%=borrowedItem.author%>">
            </label>
            <input type="submit" value="Borrow">
        </div>
        </form>
    </div>


</body>

</html>